<div class="wrapper">
 <form class="p-1 mt-2" #userlogin="ngForm" (ngSubmit)="submitBook()">
   <div class="form-field d-flex align-items-center">
     <span>👤</span>
     <input
       type="text"
       name="Author"
       id="author"
       placeholder="Author"
       #author="ngModel"
       minlength="3"
       [class.is-invalid]="author.invalid && author.touched"
       [(ngModel)]="Book.author"
       required
     />
     <small [class.d-none]="author.valid" class="px-3 text-danger">χ</small>
     <small [class.d-none]="author.invalid" class="px-3 text-success">✓</small>
   </div>

   <div class="form-field d-flex align-items-center">
     <span>📖</span>
     <input
       type="text"
       name="book"
       id="book"
       placeholder="Book"
       minlength="2"
       #book="ngModel"
       [(ngModel)]="Book.bookname"
       required
     />
     <small [class.d-none]="book.valid" class="px-3 text-danger">χ</small>
     <small [class.d-none]="book.invalid" class="px-3 text-success"
       >✓</small
     >
   </div>
   <div class="form-field d-flex align-items-center px-3">
    <span>🖊️</span>
    <textarea
      type="text"
      name="synopsis"
      id="synopsis"
      cols="30"
      rows="10"
      placeholder="Synopsis"
      minlength="120"
      maxlength="250"
      #synopsis="ngModel"
      [(ngModel)]="Book.synopsis"
      required>
   </textarea>
    <small [class.d-none]="synopsis.valid" class="px-3 text-danger">χ</small>
    <small [class.d-none]="synopsis.invalid" class="px-3 text-success"
      >✓</small
    >
  </div>
  <div class="form-field d-flex align-items-center">
   <span>🖼</span>
   <input
     type="url"
     name="imgurl"
     id="imgurl"
     #url="ngModel"
     placeholder="Image URL"
     [(ngModel)]="Book.imgUrl"
     required
   />
   <small [class.d-none]="url.valid" class="px-3 text-danger">χ</small>
   <small [class.d-none]="url.invalid" class="px-3 text-success"
     >✓</small
   >
 </div>
   <button class="btn mt-3 mb-1" [disabled]="userlogin.form.invalid">
     ADD BOOK
   </button>
  </form>
</div>


