<div class="wrapper">
  <div class="text-center mt-2 mb-3 name">DIGITAL LIBRARY</div>

  <div class="logo mb-3">
    <img src="assets/title-img.gif" alt="" />
  </div>
  <app-auth-header></app-auth-header>

  <form class="p-1 mt-2" #userlogin="ngForm" (ngSubmit)="Verify()">
    <div class="form-field d-flex align-items-center">
      <span>📧</span>
      <input
        type="email"
        name="email"
        id="userName"
        placeholder="Email"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        [(ngModel)]="User.email"
        #email="ngModel"
        [class.is-invalid]="email.invalid && email.touched"
        required
      />
      <small [class.d-none]="email.valid" class="px-3 text-danger">χ</small>
      <small [class.d-none]="email.invalid" class="px-3 text-success">✓</small>
    </div>

    <div class="form-field d-flex align-items-center">
      <span>🔒</span>
      <input
        type="password"
        name="password"
        id="pwd"
        placeholder="Password"
        [(ngModel)]="User.password"
        minlength="6"
        #password="ngModel"
        required
      />
      <small [class.d-none]="password.valid" class="px-3 text-danger">χ</small>
      <small [class.d-none]="password.invalid" class="px-3 text-success"
        >✓</small
      >
    </div>
    <button class="btn mt-3 mb-1" [disabled]="userlogin.form.invalid">
      LOGIN
    </button>
  </form>
  <div class="text-center fs-6">
    <a routerLink="/login">Forgot password?</a>
  </div>
</div>
