<section id="sample" class="">
 <app-header></app-header>
<h3 class="text-center pb-5">BOOKS</h3>
<div class="container d-flex align-items-center justify-content-center flex-wrap">
  <div class="box">
    <div class=" body">
      <div class="imgContainer"> <img src="" alt=""> </div>
      <div class="content d-flex flex-column align-items-center justify-content-center">
       <div class="back">
         <h3 class="text-dark text-center fs-5">Tourism Website</h3>
         <a href="https://github.com/iamsajith/Kerala-Tourism" target="_blank"> <button type="button" class="btn btn-outline-secondary"><i class="fa-brands fa-github px-2"></i>View</button></a>
         <div class="d-flex justify-content-between align-items-center p-2">
           <p class="stack rounded mx-1 p-1">HTML</p>
           <p class="stack rounded mx-1 p-1">CSS</p>
           <p class="stack rounded mx-1 p-1">Javascript</p>
           <p class="stack rounded mx-1 p-1">Bootstrap</p>
         </div>
       </div>
      </div>
    </div>
  </div>
</div>
</section>
